body {
	margin:auto;

	justify-content: center;
	align-items: center;
	background-color: purple;
	display: flex;
	flex: 1;
	flex-direction: column;

	
}

#grid-container {
	border-width: 10px;
	border-style: solid dashed;
	margin: auto;
	height: 500px;
	width: 500px;
	background-color: white;
	display: grid;
}

.square {
	background-color: white;
}

.buttons {
	justify-content: center;
	padding: 20px 0 0 0;

}
.buttons button{
	height: 50px;
	width: 200px;
	border: 3px solid;
}

h1{
	color: white;
}