body {
	margin:auto;

	justify-content: center;
	align-items: center;
	background-color: purple;
	/*display: flex;*/
	/*height: 900px;*/
	flex: 1;
	flex-direction: column;

	
}

#grid-container {
	margin: auto;
	height: 500px;
	width: 650px;
	background-color: white;
	display: grid;
	grid-template-columns: 
	40px 40px 40px 40px 40px 
	40px 40px 40px 40px 40px 
	40px 40px 40px 40px 40px 40px;
	padding: 10px 10px;
}

#grid-container > div {
	padding: 10px 10px;
	/*width: 700px*/
}

.penis {
	background-color: lime;
}
